/* ======[ 01 main section styles ]======= */
html, body {
    overflow-x: hidden;
}
body {
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    background-color: #000000;
    color: #ffffff;
}
/* 
===== [ Collective banner page styles ] =====
*/
.main-banner-wrapper {
    display: table;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.main-banner-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}
h1,
.main-banner-wrapper section h1{
    vertical-align: middle;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    color: #ffffff;
}
.main-banner-wrapper p {
    color: #ffffff;
}
.main-banner-wrapper small {
    float: right;
    font-size: 1rem;
    padding-top: 20px 0;
    vertical-align: middle;
    color: goldenrod;
    transform: translateY(230px);
}

h2 {
    font-size: 3.1rem;
}
@media all and (max-width: 450px){
    .main-banner-inner {
        padding: 0;
    }
    h1,
    .main-banner-wrapper section h1 {
        vertical-align: middle;
        font-size: 2.5rem;
        padding-top:0 ;
        margin: 0;
    }
    .main-banner-wrapper small {
        float: right;
        font-size: .95rem;
        padding-top: 20px 0;
        vertical-align: middle;
        color: goldenrod;
        transform: translateY(140px);
        word-wrap: break-word;
    }
    .main-banner-wrapper p {
        display: none;
    }
    h2 {
        font-size: 2.3rem;
    }
    p {
        font-size: 1rem;
    }
    .container .segments-h {
        font-size: 1.6rem;
    }
}

/* bootstrap */ 
.container {
    max-width: 1350px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.second {
    padding: 80px 10px;
}
p {
    font-size: 1.3rem;
    margin: 16px 0 0 0;
    padding: 10px 0;
}

.segments div {
    padding: 5px 30px;
    margin: 15px 0;
    transition: all .5s;
}
.segments div:hover {
    transform: translateY(-8px);
}
.segments div img {
    background-color: #000000;
    padding: 10px;
    /* box-shadow:  -6px 3px 4px 4px rgb(124, 124, 124); */
    margin: 10px 0;
}
.third {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 50px 0 0 0;
}
/* 
* 
    =====[ ABOUT PAGE STYLES ]=====
*
*/

.about-text-content-wrapper
 {
    background-color: #ffffff;
    color: #000000;
    padding: 100px 0;
}
.about-detail-inner-right {
    box-shadow: -4px 4px 5px 4px rgb(194, 194, 194);
    padding: 50px;
    font-size: 1.3rem;
}
.about-detail-inner-right h3 {
    font-size: 2rem;
}
.about-detail-inner-p {
    font-size: 1.3rem;
}
.aim-list {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 0;
}
.aim-list li {
    margin: 20px 0;
    font-size: 1.5rem;
    font-style: italic;
}
.objectives {
    background-color: #0000005d;
    padding: 50px 0;
}

/* 
* 
===== [ Contact page styles ] =====
*
*/
.contact-inner {
    padding: 50px 0;
    color: #000000;
    background-color: #ffffff;
}
.social-media-a-wrapper {
    margin: 20px 0;
}
.social-media-a {
    background-color: #000000;
    padding: 15px;
    border-radius: 15.5px;
}
.social-media-a:hover {
    background-color: goldenrod;
    color: #000000;
}
.social-icon {
    width: 40px;
    height: 40px;
}

/* 
*
===== [ all segments page ] =====
*
*/
.segments-inner {
    background-color: #ffffff;
    color: #000000;
    padding: 100px 0;
}
.segments-footer-wrapper {
    padding-bottom: 50px;
}
.click-any {
    color: goldenrod;
    font-size: 1.2rem;
    animation: blink 1s linear 2s infinite alternate-reverse;
}
@-webkit-keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 
.
.
Individual segment page styles
.
. 
*/
.segment-third {
    padding: 50px 0;
}
.fourth {
    background-color: #ffffff;
    color: #000000;
    padding: 50px 0;
}
.packages { 
    background-color: #000000;
    color: #ffffff;
    margin: 15px ;
    padding: 50px 5px;
    box-shadow: -6px 3px 4px 4px rgb(99, 99, 99);
}
.packages h3 {
    color: darkgoldenrod;
    text-decoration: underline;
}

/* 
== Danzatainment==
 */

 /* 
==productions page==
*/
.fourth section h2 {
    margin: 50px 0;
}
.past-productions div h3 {
    color: darkgoldenrod;
}
.past-productions div {
    margin: 20px 0;
    padding: 40px 10px;
    background-color: #000000;
    color: #ffffff;
}
.fifth {
    padding: 50px 0;
}
.fifth section .row {
    margin: 20px 0;
    padding: 40px 10px;
    border: 2px solid #ffffff;
}
.fifth section h3 {
    color: rgb(255, 187, 0);
}
.fifth section h2 {
    color: #ffffff;
    padding: 50px 0;
}

/* ===== [ Adding background images to some sections ] ===== */

.index-banner {
    background-image: url(../assets/img/banner_images/index2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    transition: all .3s;
    -webkit-animation:1800ms linear 0s infinite alternate running rotating-banner;
    animation:  18s linear 0s infinite alternate running rotating-banner;
    animation-play-state: running;
}

@-webkit-keyframes rotating-banner {
    0% {
        background-image: url(../assets/img/banner_images/index2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; 
    } 
    50% {
        background-image: url(../assets/img/banner_images/index1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    100% {
        background-image: url(../assets/img/banner_images/index3.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}
.backface {
    background-color: #0000003b;
}
/* About page */
.about-banner-inner {
    margin-top: 20px;
    background-image: url(../assets/img/banner_images/ubuntrpy_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Segments page */
.segments-banner {
    background-image: url(../assets/img/banner_images/segments_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Contacts page */
.contact-banner {
    background-image: url(../assets/img/banner_images/contact-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
/* segments pages banners */
.Danzatainment-banner {
    background-image: url(../assets/img/banner_images/danza_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%; 
}
.records-banner {
    background-image: url(../assets/img/banner_images/records_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%; 
}
.productions-banner {
    background-image: url(../assets/img/gallery/g14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%; 
}
.ubuntropy-banner {
    background-image: url(../assets/img/banner_images/ubuntropy_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%; 
}
.zavom-banner {
    background-image: url(../assets/img/banner_images/zavum_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%; 
}

@media all and (max-width: 450px) {
    .index-banner {
        background-position: center;
        background-size: cover;
        margin-top: 20px;
    }
    .about-banner-inner {
        margin-top: 20px;
        background-position: center;
        background-size: cover;
    }
    .segments-banner {
        margin-top: 20px;
        background-position: center;
        background-size: cover;
    }
    .contact-banner {
        background-position: center;
        background-size: cover;
    }
    .backface div img {
        width: 100%;
    }
    .Danzatainment-banner {
        background-position: left;
        background-size: cover;
    }
    .records-banner {
        background-position: left;
        background-size: cover;
    }
    .productions-banner {
        background-position: center;
        background-size: cover;
    }
    .ubuntropy-banner {
        background-position: left;
        background-size: cover;
    }
    .zavom-banner {
        background-position: center;
        background-size: cover;
    }
}
